<!--Social media icons-->
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Wallpaper and navigation bar-->
        <div class = "wallpaper">
            
            <nav class="nav">
                <!--Logo image-->
                    <a id="active" href="#">
                        <img id="logo" alt="logo">
                    </a>
                
                
                <a href="">About</a>
                
                <%= link_to 'User', new_account_path %>
                
                <%= link_to 'User Info', accounts_path %>
                
                <div id="lesson_nav"><%= link_to 'Lesson', welcome_index_path %></div>   
                
                <%= link_to 'Login', login_path%>
                        
                        
        

            </nav>
            
        </div><!--End wallpaper and navigation bar-->



<div class="login-form">
  <p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
</div>





<!--Footer-->
                <footer class="main-footer">
                    <div class="footer-col" >
                        <!--Social media icon-->
                        <div class="social-icon">
                            <a href="https://twitter.com" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                            <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                            <a href="https://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
                        </div>

                        <!--Our mission part-->
                        <div class="our-mission" >
                            <h2>Our mission</h2>
                            
                        </div>

                        <!--Contact button and google map-->
                        <div class="text-button">
                            <!--Map-->
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=unc%20charlotte&t=&z=13&ie=UTF8&iwloc=&output=embed" >
                                    </iframe>
                                </div>
                            </div>


                        </div>

                    </div>


                    <!--Copy right-->
                    <div id="footer-bottom">
                        <hr>
                        <a href="#top">Back to top &raquo;</a>
                        <p>All rights reserved.</p>
                        <p>&copy;Copyright 2019. All other trademarks and copyrights are the
                            property of their respective holders..</p>
                    </div>
                </footer>
