<!--Social media icons-->
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Wallpaper and navigation bar-->
        <div class = "wallpaper">
            
            <nav class="nav">
                
                
                
                <a href="">About</a>
                
                <%= link_to 'User', new_account_path %>
                
                <%= link_to 'User Info', accounts_path %>
                
                <div id="lesson_nav"><%= link_to 'Lesson', welcome_index_path %></div>   
                
                
                        
                   
        

            </nav>
            <!--Logo image-->
                    <%= link_to welcome_index_path do %>
                       <%= image_tag "", id: "logo" %>
                        <% end %>
        </div><!--End wallpaper and navigation bar-->
        
        
        <p class="button">
            <% if current_user %>

                <div class="button"><%= link_to "Log Out", logout_path %></div>
                <h3 class="note center">Choose a body part, <%= current_user.name %>!</h3>
                
                
                <div class="text_map">
                    <a href="https://www.youtube.com/watch?v=XteEbNyPFg0"><h2>Arms</h2></a>
                    <a href="https://www.youtube.com/watch?v=MrV4vCotio0"><h2>Abs</h2></a>
                    <a href="https://www.youtube.com/watch?v=zT50JEqjRN8"><h2>Legs</h2></a>
                    <a href="https://www.youtube.com/watch?v=gXla5bAx290"><h2>Thigh</h2></a>
            
                </div>
                
                <div class="body_map">
                    <% if current_user.gender == "male" ||  current_user.gender == "Male"  %>
                        <div class="human-body"><%= image_tag("male.png", :alt => "male" , :width=> "500" ,:height=> "500", :usemap=> "#workmap") %></div>
                            <map name="workmap">
                              <area  coords="310,150,293,182,305,224,338,239,343,231,320,216,311,150" alt="right-arm" href="https://www.youtube.com/watch?v=CLccU7tk7es">
                              <area  coords="190,152,205,182,192,226,157,239,152,230,177,218,189,151" alt="left-arm" href="https://www.youtube.com/watch?v=CLccU7tk7es">
                              <area  coords="211,220,292,220,288,268,213,268" alt="abs" href="https://www.youtube.com/watch?v=DHD1-2P94DI">
                              <area  coords="257,335,283,338,288,292,255,304" alt="right-thigh" href="https://www.youtube.com/watch?v=uYG3CneV-Pw">
                              <area  coords="214,285,248,304,246,328,217,335" alt="left-thigh" href="https://www.youtube.com/watch?v=uYG3CneV-Pw">
                              <area  coords="239,379,217,379,216,433,230,439" alt="right-leg" href="https://www.youtube.com/watch?v=RjexvOAsVtI">
                              <area  coords="283,367,284,433,271,434,265,392" alt="left-leg" href="https://www.youtube.com/watch?v=RjexvOAsVtI">
                              <area  coords="241,123,238,133,192,151,311,154,265,130,262,123" alt="neck&shoulder" href="https://www.youtube.com/watch?v=3IQVNjWH60A&t=257s">
                              
                        </map>
                    <% else%>
                        
                         <div class="human-body"><%= image_tag("female.png", :alt => "female", :width=> "500" ,:height=> "500", :usemap=> "#workmap") %></div>
                         <map name="workmap">
                              <area  coords="279,57,287,53,294,60,279,170,265,164,282,70" alt="right-arm" href="https://www.youtube.com/watch?v=XteEbNyPFg0">
                              <area  coords="206,53,199,57,213,163,226,156,211,65,208,54" alt="left-arm" href="https://www.youtube.com/watch?v=XteEbNyPFg0">
                              <area  coords="229,229,225,254,246,262,268,258,262,231" alt="abs" href="https://www.youtube.com/watch?v=MrV4vCotio0">
                              <area  coords="287,284,254,303,259,346,284,350" alt="right-thigh" href="https://www.youtube.com/watch?v=gXla5bAx290">
                              <area  coords="247,316,213,293,216,341,241,349" alt="left-thigh" href="https://www.youtube.com/watch?v=gXla5bAx290">
                              <area  coords="290,365,303,423,290,422,275,366" alt="right-leg" href="https://www.youtube.com/watch?v=zT50JEqjRN8">
                              <area  coords="216,369,202,366,188,422,199,426" alt="left-leg" href="https://www.youtube.com/watch?v=zT50JEqjRN8">
                              <area  coords="239,161,233,171,225,159,212,161,215,185,276,188,278,165,265,162,262,174,251,162" alt="neck&shoulder" href="https://www.youtube.com/watch?v=oUychjqfO8I">
                              
                        </map>
                    <% end %>
                </div>
            <% else %>
            <h2 class="note">Please login to start</h3>
                <div class="button center"><%= link_to 'Login', login_path%></div>
                
            <h2 class="note">New Member</h3>
                <div class="button center"><%= link_to "Sign Up", signup_path %></div>
            <% end %>
        </p>
        
        
        
        
        
        <!--Footer-->
                <footer class="main-footer">
                    <div class="footer-col" >
                        <!--Social media icon-->
                        <div class="social-icon">
                            <a href="https://twitter.com" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                            <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                            <a href="https://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
                        </div>

                        <!--Our mission part-->
                        <div class="our-mission" >
                            <h2>Our mission</h2>
                            
                        </div>

                        <!--Contact button and google map-->
                        <div class="text-button">
                            <!--Map-->
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=unc%20charlotte&t=&z=13&ie=UTF8&iwloc=&output=embed" >
                                    </iframe>
                                </div>
                            </div>


                        </div>

                    </div>


                    <!--Copy right-->
                    <div id="footer-bottom">
                        <hr>
                        <a href="#top">Back to top &raquo;</a>
                        <p>All rights reserved.</p>
                        <p>&copy;Copyright 2019. All other trademarks and copyrights are the
                            property of their respective holders..</p>
                    </div>
                </footer>
