
<div class = "wallpaper0">
    
     <nav class="nav">

                <a <%= link_to 'About', pages_path %></a>
                <a <%= link_to 'User', new_account_path %></a>
                <a <%= link_to 'User Info', accounts_path %></a>
                <div id="lesson_nav"><%= link_to 'Lesson', welcome_index_path %></div>   

            </nav>
            <!--Logo image-->
                    <%= link_to welcome_index_path do %>
                       <%= image_tag "", id: "logo" %>
                        <% end %>
        </div><!--End wallpaper and navigation bar-->
                         
                         <p class="excerpt1"><span>FitFun™ and any of its parent comanies were created the at University of North Carolina at Charlotte.</span>
                         <span>We are proud to bring you one of the best workout applications for family and friends.</span>
                         <span>When creating new inovations we were faced with a new frontier in computer science - The workout craze of 2019.</span>
                         <span>We began pouring through research to understand what people need and want with excersizing. The answer was, mobility.</span>
                         <span>We created this application to go anywhere you go, all you need is pocket space! <rb /></span>
                         <span>We would like to thank the development team below who's hard work and determination made this dream a reality!</span>


                         <div class="wallpaper7"></div>
                         <div class="khang">Khang Nguyen | <br />Chief CSS and HTML designer<br /> AI and Robotics Major, UNCC<br /><div class = "wallpaper2"></div>
                         <div class="brett">Brett M Lucas | <br />Executive CSS and HTML designer<br /> Cyber Security Major, UNCC<br /><div class = "wallpaper3"></div>
                         <div class="radha">Radha Patel | <br />Chief back-end designer<br /> Data Science Major, UNCC<br /><br /><div class = "wallpaper4"></div>
                         <div class="sudeepti">Sudeepti Yadla | <br />Chief database and datastructure designer<br /> Data Science Major, UNCC<br /><div class = "wallpaper5"></div>

                        
                <!--
                <footer class="main-footer">
                    <div class="footer-col" >
                        Social media icon
                        <div class="social-icon">
                            <a href="https://twitter.com" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                            <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                            <a href="https://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
                        </div>

                        Our mission part
                        <div class="our-mission" >
                            <h2>Our mission</h2>
                            
                        </div>

                        Contact button and google map
                        <div class="text-button">
                            Map
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=unc%20charlotte&t=&z=13&ie=UTF8&iwloc=&output=embed" >
                                    </iframe>
                                </div>
                            </div>


                        </div>

                    </div>


                    Copy right
                    <div id="footer-bottom">
                        <hr>
                        <a href="#top">Back to top &raquo;</a>
                        <p>All rights reserved.</p>
                        <p>&copy;Copyright 2019. All other trademarks and copyrights are the
                            property of their respective holders..</p>
                    </div>
                </footer>
                -->
                