<!--Social media icons-->
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Wallpaper and navigation bar-->
        <div class = "wallpaper1">
            
            <nav class="nav">
                <!--Logo image-->
                

                    
                    
                    <%= link_to welcome_index_path do %>
                   <%= image_tag "", id: "logo" %>
                    <% end %>

                    

                
                
                <a href="">About</a>
                <a href="">User</a>
                <%= link_to 'User Info', accounts_path%> 
                <a id="lesson_nav" href="">Lesson</a>            
                 <%= link_to 'Login', login_path%>        
        

            </nav>
            
        </div><!--End wallpaper and navigation bar-->







<%= form_for :account, url: accounts_path do |a| %>

<% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

                            <% if current_user %>
                                <h3 class="note">Hello, <%= current_user.name %>! Let us know your goals</h1>
                                <fieldset>
                                        <legend>Form</legend>
                                        <div class= "form">
                                            
                                            <h3 class="form-title"> 
                                                                
                                            </h3>
                                            
                                            
                                            <p class="input-form">
                                                <%= a.label :fName,  "Goal" %><br>
                                               <%= a.text_field :fName %>
                                            </p>
                                            
                                            <p class="input-form">
                                                <%= a.label :lname, "Time to finish the goal:" %><br>
                                                <%= a.text_field :lName %>
                                            </p>
                                            
                                            <p class="input-form">
                                                <%= a.label :email, "Your motivation:" %><br>
                                                <%= a.text_field :email %>
                                            </p>
                                            
                                            <p class="input-form">
                                                <%= a.label :age, "Age:" %><br>
                                                <%= a.text_field :age %>
                                            </p>
                                            
                                            <p class="input-form">
                                                <%= a.label :userName, "Address: " %><br>
                                                <%= a.text_field :userName %>
                                            </p>
                                            
                                            
                                           
                                            <p class="input-form">
                                                <%= a.label :password, "Phone: " %><br>
                                               <%= a.text_field :password %>
                                            </p>
                                            
                                            
                                            
                                            
                                           
                                            <p class= "submitButton">
                                                <a><%= a.submit %></a>
                                            </p>
                                        </div>
                                    </fieldset>
                            <% else %>
                                <h3 class="note">Hello, Please login before define your goal!</h1>
                                <div class="button center"><%= link_to "Log In", login_path %></div>
                            <% end %> 

<% end %>
<<<<<<< HEAD
 
<%= link_to 'Back',  welcome_index_url %>
=======


<!--Footer-->
                <footer class="main-footer">
                    <div class="footer-col" >
                        <!--Social media icon-->
                        <div class="social-icon">
                            <a href="https://twitter.com" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
                            <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                            <a href="https://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
                        </div>

                        <!--Our mission part-->
                        <div class="our-mission" >
                            <h2>Our mission</h2>
                            
                        </div>

                        <!--Contact button and google map-->
                        <div class="text-button">
                            <!--Map-->
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=unc%20charlotte&t=&z=13&ie=UTF8&iwloc=&output=embed" >
                                    </iframe>
                                </div>
                            </div>


                        </div>

                    </div>


                    <!--Copy right-->
                    <div id="footer-bottom">
                        <hr>
                        <a href="#top">Back to top &raquo;</a>
                        <p>All rights reserved.</p>
                        <p>&copy;Copyright 2019. All other trademarks and copyrights are the
                            property of their respective holders..</p>
                    </div>
                </footer>
 
>>>>>>> 740e921f712335f02b1d2193b8c093e0350f83f4
