
<!--Wallpaper and navigation bar-->
        <div class = "wallpaper1">
            
            <nav class="nav">
                <!--Logo image-->
                

                    
                    
                    <%= link_to welcome_index_path do %>
                   <%= image_tag "", id: "logo" %>
                    <% end %>

                    

                
                
                <a href="">About</a>
                <a href="">User</a>
                <a href="">User Info</a>
                <a id="lesson_nav" href="">Lesson</a>            
                        
        

            </nav>
            
        </div><!--End wallpaper and navigation bar-->
<h1 class="title">Create New Account</h1>





<%= form_for :account, url: accounts_path do |a| %>

<% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<fieldset>
    <legend>Form</legend>
    <div class= "form">
        
        <h3 class="form-title">User information: </h3>
        
        
        <p class="input-form">
            <%= a.label :fName,  "First Name" %><br>
           <%= a.text_field :fName %>
        </p>
        
        <p class="input-form">
            <%= a.label :lName, "Last Name:" %><br>
            <%= a.text_field :lName %>
        </p>
        
        <p class="input-form">
            <%= a.label :email, "Email id:  " %><br>
            <%= a.text_field :email %>
        </p>
        
        <p class="input-form">
            <%= a.label :age, "Age:" %><br>
            <%= a.text_field :age %>
        </p>
        
        <h3 class="form-title">Login information: </h3>
        
        <p class="input-form">
            <%= a.label :userName, "User Name: " %><br>
            <%= a.text_field :userName %>
        </p>
        
        
       
        <p class="input-form">
            <%= a.label :password, "Password: " %><br>
           <%= a.text_field :password %>
        </p>
        
        
        
        
       
        <p class= "submitButton">
            <a><%= a.submit %></a>
        </p>
    </div>
</fieldset>
<% end %>
 
